/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(226, 43, 165);
    
}
button{
    color: beige;
    border: 2px solid red;
    background-color: red;
    border-radius: 5px;
    margin-bottom: 20px;
}
button:hover{
    border: 2px solid green ;
    background-color: green;
}
