<div class="forms">
    <form>
        <fieldset>
            <legend>Add</legend>
            <label for="compo">Type:</label>
            <select id="compo" #opt required>
                <option></option>
                <option>characters</option>
                <option>gadgets</option>
            </select>
            <br>
            <br>
            <label for="name">Name:</label>
            <input id="name" type="text" #name required>
            <br>
            <br>
            <label id="main">Work/Talent:</label>
            <input id="main" type="text" #main required>
            <br>
            <br>
            <label for="image">Image Path:</label>
            <input id="image" type="url" #image required>
            <br>
            <br>
            <button type="button" (click)="add(opt.value,name.value,main.value,image.value) ; opt.value='' ; name.value='' ; main.value='' ; image.value='' ">Add</button>
        </fieldset>
       
    </form>
    
</div>

<div>
    <button type="button" (click)="goback()">Back</button>
</div>